<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js" th:src="@{/js/jquery/jquery.min.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet" th:href="@{/semantic/semantic.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" th:src="@{/semantic/semantic.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/me.css"  th:href="@{/css/me.css}"/>
    <script src="../../static/js/DPlayer.min.js" th:src="@{/js/DPlayer.min.js}"></script>
    <title>Video</title>
</head>

<body>
    <!--导航-->
    <div th:replace="user/_sidebar::sidebar"></div>
    <div class="ui column grid container">
        <div class="twelve wide column m-margin-top-small">
            <div class="ui middle aligned two column grid">
                <div class="column m-padded-tiny">
                    <i class="star big icon"></i>
                    <span class="ui header" style="vertical-align:middle">收藏夹</span>
                </div>
                <div class="right aligned column m-padded-tiny">
                    <a class="ui basic compact button">共<span th:text="${pageInfo.total}">200</span>个</a>
                </div>
            </div>

            <div class="ui column grid container" th:fragment="videos" th:each="history:${pageInfo.list}">
                <div class="one wide column"></div>
                <div class="seven wide column m-padded-tiny" style="float:right">
                    <a class="ui medium image" href="#" th:href="@{/video/{id}(id=${history.video.id})}">
                        <img src="../../static/images/20201103113816254.png" style="width:300px;height:168px;"
                            th:src="${history.video.pictureUrl}">
                        <div class="inverted shade">
                            <i class="large youtube icon"></i><span style="color:black;vertical-align:middle;"
                                th:text="${history.video.viewnum}">123</span>
                            <i class="large thumbs up outline icon"></i><span
                                style="color:black;vertical-align:middle;"
                                th:text="${history.video.likenum}">123</span>
                        </div>
                    </a>
                </div>
                <div class="seven wide column m-padded-tiny" style="float:left;font-size:16px">
                    <div class="m-margin-top-mini m-padded-mini">
                        <h3 class="ui header m-margin-tb-tiny title" th:text="${#strings.abbreviate(history.video.title,20)}">
                            加油！程序员</h3>
                        <p class="m-margin-tb-tiny"><i class="user outline icon"></i><span
                                th:text="${history.video.user.nickname}">UP主</span></p>
                        <p class="m-margin-tb-tiny"><i class="clock outline icon"></i><span
                                th:text="${#dates.format(history.createTime,'yyyy-MM-dd HH:mm:ss')}">2021年11月27日</span></p>
                    </div>
                </div>
                <div class="one wide column"></div>
            </div>

            <div class="m-margin-top container" style="text-align:center;">
                <div class=" ui buttons">
                    <a class="ui basic blue button" th:if="${pageInfo.hasPreviousPage}"
                        th:href="@{'/user/mystar?page='+${pageInfo.prePage}}">
                        <font style="vertical-align: inherit;">上一页</font>
                    </a>
                    <a class="ui blue button" th:each="pageNo:${pageInfo.navigatepageNums}"
                        th:classappend="${pageNo==pageInfo.pageNum}?'primary':'basic'"
                        th:href="@{'/user/mystar?page='+${pageNo}}">
                        <font style="vertical-align: inherit;" th:text="${pageNo}">1</font>
                    </a>
                    <a class="ui basic blue button" th:if="${pageInfo.hasNextPage}"
                        th:href="@{'/user/mystar?page='+${pageInfo.nextPage}}">
                        <font style="vertical-align: inherit;">下一页</font>
                    </a>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column m-padded-tiny">
                        <span class="ui header" style="vertical-align:middle">排行榜</span>
                    </div>
                </div>
                <div class="ui m-margin-top">
                    <div class="item m-margin-top title-small" th:each="video,videoStat:${videos_hot}">
                        <a class="ui circular label" th:classappend="${videoStat.count} lt '5' ? 'red'">
                            <font style="vertical-align: inherit;" th:text="${videoStat.count}">1</font>
                        </a>
                        <a th:text="${#strings.abbreviate(video.title,20)}" href="#" th:href="@{/video/{id}(id=${video.id})}">热点视频1</a>
                    </div>
                    <div class="item m-margin-top  title-small" th:if="${videos_hot}==null">
                        <a class="ui red circular label">
                            <font style="vertical-align: inherit;" th:text="${videoStat.count}">2</font>
                        </a>
                        <a th:text="${#strings.abbreviate(video.title,20)}" href="#" th:href="@{/video/{id}(id=${video.id})}">热点视频2</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>