<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="../../static/images/logo.png" th:href="@{/images/logo.png}"/>
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js" th:src="@{/js/jquery/jquery.min.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet" th:href="@{/semantic/semantic.min.css}">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js" th:src="@{/semantic/semantic.min.js}"></script>
    <link rel="stylesheet" href="../../static/css/me.css"  th:href="@{/css/me.css}"/>
    <script src="../../static/js/DPlayer.min.js" th:src="@{/js/DPlayer.min.js}"></script>
    <title>Video</title>
</head>

<body>
    <!--导航-->
    <div th:replace="user/_sidebar::sidebar"></div>
    <div class="ui column grid container">
        <div class="two wide column"></div>
        <div class="twelve wide column m-margin-top-small">
                <div class="ui middle aligned two column grid">
                    <div class="column m-padded-tiny">
                        <i class="folder open outline big icon"></i>
                        <span class="ui header" style="vertical-align:middle">投稿记录</span>
                    </div>
                    <div class="right aligned column m-padded-tiny">
                        <a class="ui basic compact button">共<span th:text="${pageInfo.total}">200</span>个</a>
                    </div>
                </div>

                <div class="ui column grid container" th:fragment="videos" th:each="video:${pageInfo.list}">
                    <div class="one wide column"></div>
                    <div class="seven wide column m-padded-tiny" style="float:right">
                        <a class="ui medium image" href="#" th:href="@{/video/{id}(id=${video.id})}">
                            <img src="../../static/images/20201103113816254.png" style="width:300px;height:168px;"
                                th:src="${video.pictureUrl}">
                            <div class="inverted shade">
                                <i class="large youtube icon"></i><span style="color:black;vertical-align:middle;"
                                    th:text="${video.viewnum}">123</span>
                                <i class="large thumbs up outline icon"></i><span
                                    style="color:black;vertical-align:middle;"
                                    th:text="${video.likenum}">123</span>
                            </div>
                        </a>
                    </div>
                    <div class="seven wide column m-padded-tiny" style="float:left;font-size:16px">
                        <div class="m-margin-top-mini m-padded-mini">
                            <p class="m-margin-tb-tiny"  style="font-size:16px !important;font-weight: bold !important;" th:text="${#strings.abbreviate(video.title,20)}">
                                加油！程序员</p>
                            <div class="ui horizontal label" th:classappend="${video.status}=='0'?'red':'green'" th:text="${video.status}=='0'?'未审核':'已审核'">水果</div>
                            <p class="m-margin-tb-tiny"><i class="clock outline icon"></i><span
                                    th:text="${#dates.format(video.createTime,'yyyy-MM-dd HH:mm:ss')}">2021年11月27日</span></p>
                            <p class="m-margin-tb-tiny"><i class="pencil alternate icon"></i><span
                                    th:text="${#strings.abbreviate(video.description,40)}">2021年11月27日</span></p>
                            <button class="ui mini primary brown basic button deleteBtn" th:attr="del_uri=@{/user/video/}+${video.id}">撤回</button>
                        </div>
                    </div>
                    <div class="one wide column"></div>
                </div>

                <div class="m-margin-top container" style="text-align:center;">
                    <div class=" ui buttons">
                        <a class="ui basic blue button" th:if="${pageInfo.hasPreviousPage}"
                            th:href="@{'/user/myupload?page='+${pageInfo.prePage}}">
                            <font style="vertical-align: inherit;">上一页</font>
                        </a>
                        <a class="ui blue button" th:each="pageNo:${pageInfo.navigatepageNums}"
                            th:classappend="${pageNo==pageInfo.pageNum}?'primary':'basic'"
                            th:href="@{'/user/myupload?page='+${pageNo}}">
                            <font style="vertical-align: inherit;" th:text="${pageNo}">1</font>
                        </a>
                        <a class="ui basic blue button" th:if="${pageInfo.hasNextPage}"
                            th:href="@{'/user/myupload?page='+${pageInfo.nextPage}}">
                            <font style="vertical-align: inherit;">下一页</font>
                        </a>
                    </div>
                </div>
        </div>
        <div class="two wide column"></div>
    </div>
    <form id="deleteVideoForm" method="post">
        <input type="hidden" name="_method" value="delete"/>
    </form>
</body>
<script>
    $(".deleteBtn").click(function () {
        $("#deleteVideoForm").attr("action", $(this).attr("del_uri")).submit();
        return false;
    });
</script>
</html>