<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">


<head>
    <meta charset="UTF-8" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../../static/css/me.css" />
    <title>Video</title>
</head>

<body>
    <!--导航-->
    <div th:replace="_fragment::nav"></div>
    <div class="ui m-margin-top-large container">
        <div class="ui m-margin-top column grid container">
            <div class="eight wide column">
                <form class="ui form" id="file" method="post" action="#" enctype="multipart/form-data">
                    <div class="field">
                        <label>视频选择</label>
                        <input type="file" name="video" id="filevideo" onchange="changepic(this)" multiple
                            placeholder="视频描述">
                    </div>
                    <div class="field">
                        <label>视频预览</label>
                        <video width='500' height='300' id='video' controls></video>
                    </div>
                    <div class="field">
                        <label>封面预览(拖动视频预览找到合适的封面，点击上传按钮)</label>
                        <canvas id="myCanvas" width="200" height="100"></canvas>
                    </div>
                    <button class="ui button grey disabled" id="uploadpic">上传封面</button>
                </form>
            </div>
            <div class="eight wide column">
                <form class="ui form" method="post" action="#" th:action="@{/user/addvideo}"
                    enctype="multipart/form-data">
                    <div class="field">
                        <label>标题</label>
                        <input name="title" id="title" type="text" placeholder="视频标题（最多20词）" maxLength="20">
                    </div>
                    <div class="field">
                        <label>视频链接</label>
                        <input name="videoUrl" id="videoUrl" type="text" placeholder="视频链接（选择视频自动设置）" readonly>
                    </div>
                    <div class="field">
                        <label>视频描述</label>
                        <textarea name="description" type="text" rows="3" placeholder="请输入视频描述（最多50词）" id="description" maxLength="50"></textarea>
                    </div>
                    <div class="field">
                        <label>种类</label>
                        <select class="ui fluid search dropdown" name="typeId" id="dropdown">
                            <option value="1">动画</option>
                            <option value="2">游戏</option>
                            <option value="3">番剧</option>
                            <option value="4">教育</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>标签</label>
                        <input name="tags" id="tags" type="text" placeholder="标签，多标签用逗号隔开（最多20词）" maxLength="20">
                    </div>
                    <div class="field">
                        <label>封面链接</label>
                        <input name="pictureUrl" id="pictureUrl" type="text" placeholder="封面图片（上传图片自动设置）" readonly>
                    </div>
                    <button class="ui button blue" type="submit">提交</button>
                    <div class="ui error mini message"></div>
                </form>

            </div>
        </div>

        <div class="ui basic modal">
            <div class="ui icon header">
                <i class="info icon"></i>
                恭喜，你的视频上传成功。
            </div>
            <div class="actions">
                <div class="ui blue ok inverted button">
                    <i class="checkmark icon"></i>
                    是
                </div>
            </div>
        </div>
    </div>
    <script>

        var imgHeight = 0,
            imgWidth = 0,
            videoWidth = 0,
            videoHeight = 0, pic;

        $('.dropdown')
            .dropdown({
                maxSelections: 3
            });

        video = document.getElementById('video');
        canvas = document.getElementById("myCanvas");
        canvasCtx = canvas.getContext("2d");

        //视频准备好可以播放
        video.addEventListener("canplay", function () {
            //获取展示的video宽高作为画布的宽高和临时视频截图的宽高
            canvas.width = imgWidth = video.offsetWidth;
            canvas.height = imgHeight = video.offsetHeight;
            //获取实际视频的宽高，相当于视频分辨率吧
            videoWidth = video.videoWidth;
            videoHeight = video.videoHeight;
            setTimeout(() => {
                video.pause();
                //坐原图像的x,y轴坐标，大小，目标图像的x，y轴标，大小。
                canvasCtx.drawImage(video, 0, 0, videoWidth, videoHeight, 0, 0, imgWidth, imgHeight);
                //把图标base64编码后变成一段url字符串
                var dataUrl = canvas.toDataURL("image/png");
                // 获取图片的base64格式
                pic = dataUrl;
            }, 500);
        });

        function dataURItoBlob(dataURI) {
            var byteString = atob(dataURI.split(',')[1]);
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
            var ab = new ArrayBuffer(byteString.length);
            var ia = new Uint8Array(ab);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }
            return new Blob([ab], { type: mimeString });
        }

        function getObjectURL(file) {
            var url = null;
            // 下面函数执行的效果是一样的，只是需要针对不同的浏览器执行不同的 js 函数而已
            if (window.createObjectURL != undefined) { // basic
                url = window.createObjectURL(file);
            } else if (window.URL != undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file);
            } else if (window.webkitURL != undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file);
            }
            return url;
        }

        function changepic(obj) {
            //console.log(obj.files[0]);//这里可以获取上传文件的name
            // 转换格式
            var newsrc = getObjectURL(obj.files[0]);
            uploadVideo();
            //$('#video').src = newsrc;,这种方法不能实现
            document.getElementById('video').src = newsrc;
        }

        function dataURLtoFile(dataurl, filename) {
            var arr = dataurl.split(','), mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]), n = bstr.length, u8arr = new Uint8Array(n);
            while (n--) {
                u8arr[n] = bstr.charCodeAt(n);
            }
            return new File([u8arr], filename, { type: mime });
        }

        function uploadVideo() {
            var datatemp = new FormData($('#file')[0]);
            $.ajax({
                url: '/user/uploadvideo',
                type: 'post',
                processData: false,
                contentType: false,
                data: datatemp,
                success: function (data) {
                    document.getElementById("videoUrl").value = data;
                    $("#uploadpic").removeClass("grey disabled").addClass("blue");
                }
            });
            return false;
        }

        $('#uploadpic').click(function () {
            var datatemp = new FormData();
            var imgFile = dataURLtoFile(pic, "img.png");
            datatemp.append("pic", imgFile);
            $.ajax({
                url: '/user/uploadpic',
                type: 'post',
                processData: false,
                contentType: false,
                data: datatemp,
                success: function (data) {
                    document.getElementById("pictureUrl").value = data;
                }
            });
            return false;
        });

        //校验数据
        $('.ui.form').form({
            fields: {
                title: {
                    identifier: 'title',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入视频标题'
                    }]
                },
                password: {
                    identifier: 'videoUrl',
                    rules: [{
                        type: 'empty',
                        prompt: '请选择视频进行上传'
                    }]
                },
                description: {
                    identifier: 'description',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入视频描述'
                    }]
                },
                tags: {
                    identifier: 'tags',
                    rules: [{
                        type: 'empty',
                        prompt: '请选择视频标签'
                    }]
                },
                pictureUrl: {
                    identifier: 'pictureUrl',
                    rules: [{
                        type: 'empty',
                        prompt: '请选择封面进行上传'
                    }]
                }
            }
        });

    </script>
</body>

</html>