<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
    <mappers>
        <mapper resource="mybatis/mapper/BarrageMapper.xml"></mapper>
        <mapper resource="mybatis/mapper/CommentMapper.xml"></mapper>
        <mapper resource="mybatis/mapper/TagMapper.xml"></mapper>
        <mapper resource="mybatis/mapper/TypeMapper.xml"></mapper>
        <mapper resource="mybatis/mapper/UserMapper.xml"></mapper>
        <mapper resource="mybatis/mapper/VideoMapper.xml"></mapper>
    </mappers>
</configuration>