<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../../static/css/me.css">
    <title>Video</title>
</head>

<body>
    <!--导航-->
    <nav class="ui inverted m-shadow-small" th:fragment="nav">
        <div class="ui container">
            <div class="ui secondary menu m-padded-tb-mini">
                <div class="item">
                    <img src="../../static/images/logo.png" th:src="@{/images/logo.png}"
                         class="ui rounded image head" />
                </div>
                <a href="#" th:href="@{/}" class="m-item item m-mobile-hide">主站</a>
                <a href="#" th:each="type:${session.types}!=null?${session.types}" th:text="${type.name}"
                   th:href="@{/video/type/{id}(id=${type.id})}" class="m-item item m-mobile-hide">类目1</a>
                <form class="right m-item item m-mobile-hide" name="search" action="#" th:action="@{/video/search}"
                      method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny">
                        <input type="text" name="query" placeholder="输入搜索标题……"/>
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
                <div class="m-item item">
                    <img src="../../static/images/avatar.png"
                         th:src="@{${session.user}!=null?${session.user.avatar}:'/images/avatar.png'}" class="ui rounded head-big" />
                </div>
                <a href="#" th:href="@{/login}" class="m-item item m-mobile-hide" shiro:guest="">登录</a>
                <a href="#" th:href="@{/regist}" class="m-item item m-mobile-hide" shiro:guest="">注册</a>
                <a href="#" th:href="@{/user/star}" class="m-item item m-mobile-hide" shiro:user="">收藏</a>
                <a href="#" th:href="@{/user/history}" class="m-item item m-mobile-hide" shiro:user="">历史</a>
                <a href="#" th:href="@{/admin/}" class="m-item item m-mobile-hide" shiro:hasRole="admin">后台</a>
                <a href="#" th:href="@{/logout}" class="m-item item m-mobile-hide" shiro:user="">退出</a>
                <a href="#" th:href="@{/user/upload}" class="m-item item m-mobile-hide">投稿</a>
            </div>
        </div>
    </nav>
</body>

</html>