<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../../static/css/me.css" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <title>Video</title>
</head>

<body>
    <!--导航-->
    <nav class="ui inverted m-shadow-small">
        <div class="ui container">
            <div class="ui secondary menu m-padded-tb-mini">
                <div class="item">
                    <img src="../../static/images/logo.png" th:src="@{/images/logo.png}"
                        class="ui rounded image head" />
                </div>
                <a href="#" th:href="@{/}" class="m-item item m-mobile-hide">主站</a>
                <a href="#" th:each="type:${session.types}!=null?${session.types}" th:text="${type.name}"
                    th:href="@{/type/{id}(id=${type.id})}" class="m-item item m-mobile-hide">类目1</a>
                <form class="right m-item item m-mobile-hide" name="search" action="#" th:action="@{/search}"
                    method="post" target="_blank">
                    <div class="ui icon transparent input m-margin-tb-tiny">
                        <input type="text" name="query" placeholder="输入搜索标题……" th:value="${query}">
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
                <div class="m-item item m-mobile-hide">
                    <img src="../../static/images/avatar.png"
                        th:src="@{${session.user}!=null?${session.user.avatar}:'/images/avatar.png'}"
                        class="ui rounded head-big" />
                </div>
                <a href="#" th:href="@{/login}" class="m-item item m-mobile-hide" th:if="${session.user}==null">登录</a>
                <a href="#" th:href="@{/regist}" class="m-item item m-mobile-hide" th:if="${session.user}==null">注册</a>
                <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide" th:if="${session.user}!=null">收藏</a>
                <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide" th:if="${session.user}!=null">历史</a>
                <a href="#" th:href="@{/logout}" class="m-item item m-mobile-hide" th:if="${session.user}!=null">退出</a>
                <a href="#" th:href="@{/user/upload}" class="m-item item m-mobile-hide">投稿</a>
            </div>
        </div>
    </nav>
    <div class="ui m-margin-top-large column grid container">
        <div class="twelve wide column">
            <div class="ui attached segment">
                <div class="ui m-margin-top three column grid container">
                    <div class="column" th:each="video:${videos}">
                        <a class="ui medium image" href="#" th:href="@{/video/{id}(id=${video.id})}">
                            <img src="https://i.loli.net/2020/10/24/eRSmEkXnQrxw6gf.jpg"
                                style="width:300px;height:168px;" th:src="${video.pictureUrl}">
                            <div class="inverted shade">
                                <span style="color:black;"><i class="large youtube icon"></i>[[${video.viewnum}]]</span>
                                <span style="color:black;"><i
                                        class="large thumbs up outline icon"></i>[[${video.likenum}]]</span>
                            </div>
                        </a>
                        <div class="m-margin-top-mini m-padded-mini">
                            <h3 class="ui header m-margin-tb-tiny title" th:text="${video.title}">
                                123242rwetrtgfddgfdgfd</h3>
                            <p class="m-margin-tb-tiny"><i class="user outline icon"></i>[[${video.user.nickname}]]</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="four wide column">
            <div class="ui attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column m-padded-tiny">
                        <span class="ui" style="vertical-align:middle">排行榜</span>
                    </div>
                    <div class="right aligned column m-padded-tiny">
                        <button class="ui small basic compact button">更多<i class="angle right icon"></i></button>
                    </div>
                </div>
                <div class="ui ordered list">
                    <!--                    <a class="item m-padded-small m-text-lined" th:each="video:${videos_new[videolist.key]}"
                       th:text="${video.title}" th:href="@{/video/{id}(id=${video.id})}">起步</a>-->
                </div>
            </div>
        </div>
    </div>

</body>

</html>