<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">

<head>
    <meta charset="UTF-8" />
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../../static/css/me.css" />
    <script src="../../static/js/DPlayer.min.js" th:src="@{/js/DPlayer.min.js}"></script>
    <title>Video</title>
</head>

<body>
    <!--导航-->
    <div th:replace="_fragment::nav"></div>
    <div class="ui m-margin-top column grid container">
        <div class="eleven wide column">
            <div class="ui attached segment">
                <div class="ui">
                    <div class="ui header title-big" th:text="${video.title}">123242rwetrtgfddgfdgfd</div>
                    <div>
                        <span th:text="${video.viewnum}">7900</span>人播放
                        &nbsp;&nbsp;
                        <span th:text="${video.barrnum}">543</span>弹幕
                        &nbsp;&nbsp;
                        <span th:text="${#dates.format(video.createTime,'yyyy-MM-dd hh:mm:ss')}">2020-10-23 18:51</span>
                    </div>
                </div>
                <div class="ui m-margin-top" style="height: 400px;">
                    <div id="dplayer"></div>
                </div>
                <div class="ui seven column grid m-margin" style="font-size: 16px;">
                    <div class="column m-padded-tiny" style="margin-left:2rem">
                        <i class="large star icon" id="star" th:classappend="${enableFavorite}?'black outline':'blue'"></i><span th:text="${video.starnum}">1888</span>
                    </div>
                    <div class="column m-padded-tiny">
                        <i class="large yen sign icon" id="coin" th:classappend="${enableCoin}?'black':'blue'"></i><span th:text="${video.coinnum}">1888</span>
                    </div>
                    <div class="column m-padded-tiny">
                        <i class="large thumbs up outline icon" id="like" th:classappend="${enableLike}?'black':'blue'"></i><span th:text="${video.likenum}">1888</span>
                    </div>
                    <div class="column m-padded-tiny">
                        <i class="large share icon"></i><span th:text="${video.trannum}">1888</span>
                    </div>
                </div>
                <div class="ui divider"></div>
                <!--介绍信息-->
                <div class="description" th:text="${video.description}">
                    这个花嫁不想肝了orz，配布老规矩硬币走起
                    过276硬币放链接∠( ᐛ 」∠)_ 给个三连呗x
                </div>
                <!--标签-->
                <div class="label m-margin-top">
                    <a class="ui blue label large"  th:each="tag:${tags}"
                       th:text="${tag.content}">搞笑</a>
                </div>
                <div class="ui divider"></div>
                <!--评论-->
                <div class="m-margin-top">
                    <h3 class="ui header">评论</h3>
                </div>
                <div class="ui divider"></div>
                <div class="ui comments">
                    <div class="comment" th:fragment="commentList" id="commentList">
                        <div class="ui m-margin-tb-small grey" th:each="comment:${comments}">
                            <h4 class="ui header"><img src="../../static/images/logo.png" th:src="${comment.user.avatar}" class="head">
                                <span style="font-size: 16px;text-align:center !important;">[[${comment.user.nickname}]]</span>
                                <span class="date" style="margin-right: 80px !important;font-size: 10px;text-align:center !important;" th:text="${#dates.format(comment.createTime,'yyyy-MM-dd hh:MM')}">今天下午 5:42</span>
                            </h4>
                            <div class="text" style="min-height:30px !important;padding-right: 14px !important;" th:text="${comment.content}">太赞了！ </div>
                        </div>
                    </div>
                    <div class="comment" th:if="${comments==null}">
                        <a class="avatar">
                            <img src="../../static/images/logo.png" class="head" />
                        </a>
                        <div class="content">
                            <a class="author">Elliot Fu</a>
                            <div class="metadata">
                                <span class="date">昨天上午12:30</span>
                            </div>
                            <div class="text">
                                <p>這對我的研究是非常有用.謝謝!</p>
                            </div>
                        </div>
                    </div>
                    <div class="comment" shiro:guest="">
                        <h3>登陆后才显示评论功能!</h3>
                    </div>
                    <form class="ui reply form" shiro:user="">
                        <input type="hidden" name="videoId" th:value="${video.id}">
                        <div class="field">
                            <textarea name="content" placeholder="请输入评论信息..."></textarea>
                        </div>
                        <div class="field  m-margin-bottom-small m-mobile-wide">
                            <button id="commentpost-btn" type="button" class="ui blue button m-mobile-wide"><i class="edit icon"></i>评论</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--右侧-->
        <div class="five wide column">
            <div class="ui attached segment">
                <div class="ui column grid container">
                    <div class="three wide column m-margin-tb-tiny">
                        <img src="../../static/images/logo.png" class="ui rounded image head head-big " th:src="${video.user.avatar}">
                    </div>
                    <div class="thirteen wide column left">
                        <h3 class="ui header m-margin-tb-tiny" th:text="${video.user.nickname}">xzm</h3>
                        <p class="m-margin-tb-tiny" th:text="${video.user.description}">高效，我们是专业的</p>
                    </div>
                </div>
                <div class="ui container m-margin-top" style="overflow: hidden;">
                    <button class="ui button" id="attention-btn" style="float:right;" th:classappend="${enableAttention}?'grey':'primary'">
                        <span id="attentiontext" th:text="${enableAttention}?'关注':'已关注'"></span>
                        <span id="attentionnum" th:text="${video.user.attentionNum}">13000</span>
                    </button>
                </div>
            </div>
            <!--弹幕部分-->
            <div class="ui m-padded" style="background-color:#F5F5F5">
                <span class="ui header" style="margin-right: 4px;">弹幕列表</span>
                <a class="ui" id="toggle" style="float:right;">展开</a>
            </div>
            <div class="ui list barrage m-padded-tb-tiny" id="list">
                <div class="ui three column grid container item" th:each="barrage:${barrages}">
                    <span class="two wide column m-padded-mini" th:text="${#numbers.formatDecimal(barrage.time,0,2)}">12.40</span>
                    <span class="eight wide column m-padded-mini center" th:text="${#strings.abbreviate(barrage.text,15)}">Lombok的scope=provided，说明它只在编译阶段生效，不需要打入包中</span>
                    <span class="five wide column m-padded-mini" th:text="${#dates.format(barrage.createtime,'yyyy-MM-dd hh:MM')}">2020-10-23 18:51</span>
                </div>
                <div class="ui three column grid container item" th:if="${barrages}==null">
                    <span class="two wide column m-padded-mini" th:text="${#numbers.formatDecimal(barrage.time,0,2)}">12.40</span>
                    <span class="eight wide column m-padded-mini center" th:text="${#strings.abbreviate(barrage.text,15)}">Lombok的scope=provided，说明它只在编译阶段生效，不需要打入包中</span>
                    <span class="five wide column m-padded-mini" th:text="${#dates.format(barrage.createtime,'yyyy-MM-dd hh:MM')}">2020-10-23 18:51</span>
                </div>
            </div>
            <!--推荐部分-->
            <div class="ui m-padded">
                <span class="ui header" style="margin:auto;">相关推荐</span>
            </div>
            <div th:each="video:${videos_hot}">
                <a class="ui two column grid container m-margin-top-small" href="#" th:href="@{/video/{id}(id=${video.id})}">
                    <img class="seven wide column m-padded-mini" src="../../static/images/20201103113816254.png"
                         style="width:168px;height:95px;" th:src="${video.pictureUrl}"/>
                    <div class="nine column">
                        <p class="title m-margin-tb-tiny" th:text="${video.title}">加油！攻城狮</p>
                        <p class="m-margin-tb-tiny count" th:text="${video.user.nickname}">Up主</p>
                        <p class="m-margin-tb-tiny count"><span th:text="${video.viewnum}">
                    </span>播放&nbsp;&nbsp;<span th:text="${video.barrnum}">234</span>弹幕</p>
                    </div>
                </a>
            </div>
            <div th:if="${videos_hot}==null">
                <a class="ui two column grid container m-margin-top-small" href="#" th:href="@{/video/{id}(id=${video.id})}">
                    <img class="seven wide column m-padded-mini" src="../../static/images/20201103113816254.png"
                         style="width:168px;height:95px;" th:src="${video.pictureUrl}"/>
                    <div class="nine column">
                        <p class="title m-margin-tb-tiny" th:text="${video.title}">加油！攻城狮</p>
                        <p class="m-margin-tb-tiny count" th:text="${video.user.nickname}">Up主</p>
                        <p class="m-margin-tb-tiny count"><span th:text="${video.viewnum}">
                    </span>播放&nbsp;&nbsp;<span th:text="${video.barrnum}">234</span>弹幕</p>
                    </div>
                </a>
            </div>
            <div th:if="${videos_hot}==null">
                <a class="ui two column grid container m-margin-top-small" href="#" th:href="@{/video/{id}(id=${video.id})}">
                    <img class="seven wide column m-padded-mini" src="../../static/images/20201103113816254.png"
                         style="width:168px;height:95px;" th:src="${video.pictureUrl}"/>
                    <div class="nine column">
                        <p class="title m-margin-tb-tiny" th:text="${video.title}">加油！攻城狮</p>
                        <p class="m-margin-tb-tiny count" th:text="${video.user.nickname}">Up主</p>
                        <p class="m-margin-tb-tiny count"><span th:text="${video.viewnum}">
                    </span>播放&nbsp;&nbsp;<span th:text="${video.barrnum}">234</span>弹幕</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    </div>
    <div class="ui basic modal">
        <div class="ui icon header">
            <i class="info icon"></i>
            抱歉,您的硬币不足。
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                否
            </div>
            <div class="ui blue ok inverted button">
                <i class="checkmark icon"></i>
                是
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        var videoUrl = [[${ video.videoUrl }]];
        var videoId = [[${ video.id }]];
        var userId = [[${ video.user.id }]];
        const dp = new DPlayer({
            container: document.getElementById('dplayer'),
            autoplay: false,
            theme: '#FADFA3',
            loop: true,
            lang: 'zh-cn',
            screenshot: true,
            hotkey: true,
            preload: 'auto',
            volume: 0.7,
            mutex: true,
            video: {
                url: videoUrl,
                type: 'auto',
            },
            danmaku: {
                id: videoId,
                api: '/barrage/',
                user: userId,
            }
        });
        $('#toggle').bind('click', function toggle() {
            $('#list').slideToggle();
        });

        /**
         * 点赞
         */
        $("#star").bind('click',function(){
            var id = [[${video.id}]];
            $.post('/user/addfavoritenum',{"id":id},function (result) {
                $("#star").next().html(result.data.star);
                if(result.code==201){
                    $("#star").removeClass("black outline").addClass("blue");
                }else if(result.code=202){
                    $("#star").removeClass("blue").addClass("black outline");
                }
            });
        });

        $("#coin").bind('click',function(){
            var id = [[${video.id}]];
            $.post('/user/addcoinnum',{"id":id},function (result) {
                $("#coin").next().html(result.data.coin);
                if(result.code==201){
                    $("#coin").removeClass("black").addClass("blue");
                }else if(result.code==202){
                    $("#coin").removeClass("blue").addClass("black");
                }else if(result.code==203){
                    $(".ui.modal").modal("show");
                }
            });
        });

        $("#like").bind('click',function(){
            var id = [[${video.id}]];
            $.post('/user/addlikenum',{"id":id},function (result) {
                $("#like").next().html(result.data.like);
                if(result.code==201){
                    $("#like").removeClass("black").addClass("blue");
                }else if(result.code==202){
                    $("#like").removeClass("blue").addClass("black");
                }
            });
        });

        $('#commentpost-btn').bind('click', function clickbutton() {
            var boo = $('.ui.form').form('validate form');
            if (boo) {
                console.log('校验成功');
                postdata();
            } else {
                console.log('校验失败');
            }
        });

        $('#attention-btn').bind('click', function clickbutton() {
            $.post('/user/attention',{"id":userId},function (result) {
                $("#attentionnum").html(result.data.attentionNum);
                if(result.code==201){
                    $("#attention-btn").removeClass("grey").addClass("primary");
                    $("#attentiontext").html("已关注");
                }else if(result.code==202){
                    $("#attention-btn").removeClass("primary").addClass("grey");
                    $("#attentiontext").html("关注");
                }
            });
        });

        function postdata() {
            $('#commentList').load('/user/addComment',{
                "videoId": videoId,
                "content": $("[name='content']").val()
            },function (result) {
                $("[name='content']").val('');
                $("[name='content']").attr("placeholder", "请输入评论信息...");
            });
        }

        //评论表单验证
        $('.ui.form').form({
            fields: {
                content: {
                    identifier: 'content',
                    rules: [{
                        type: 'empty',
                        prompt: '请输入你的评论内容'
                    }]
                }
            }
        });
    </script>
</body>

</html>